 	body, td, p, div { font-family: Verdana; font-size: 80% }
	
	A:hover {color: #ee0000;}
	A:visited {color: #000000;}


/*
     FILE ARCHIVED ON 11:58:48 Jan 18, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:47:13 Apr 07, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.367
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.007
  esindex: 0.007
  cdx.remote: 2388.916
  LoadShardBlock: 1399.964 (3)
  PetaboxLoader3.datanode: 1786.607 (4)
  PetaboxLoader3.resolve: 703.26 (3)
  load_resource: 1277.201
*/